<html>
<head> 
<title> Главная страница </title> 
<link href="../static/css/mycss.css" rel="stylesheet"> 
<link href="../static/css/bootstrap.css" rel="stylesheet"> 
<meta charset="windows-1251"> 
</head> 
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="contacts.html">Контакты</a></li>
      <li><a href="students.html">Студенты</a></li> 
      <li><a href="http://www.kpispu.info/">Сайт нашей кафедры</a></li> 
    </ul>
  </div>
</nav>

<h1 class="z_h1">Методы преподования математики и информатики</h1>
<h2 class="z_h2">Descripton</h2>
<center>
<p><wh>Преподаётся в 2016 году на инженерно-физическом факультете, на кафедре СПУ в группе И-23б.</br>Занятия проводятся 1 раз в неделю на протяжении одного весеннего семестра</wh></p>
</center>


<footer>
	<marquee  direction="up" " scrollamount="1"> 
		<center><font color="lime	"> Работа выполнена студентом: Паргалава Давид </font> </center>
	</marquee>
</footer>
</body>
</html>